version: 1

enabled:
  - suspicious_process_access

parameters:
  suspicious_process_access:
    target_processes:
      - "\\lsass.exe"
      - "\\winlogon.exe"
      - "\\sam.exe"
      - "\\security.exe"
      - "\\lsaiso.exe"
    min_events: 1